openapi: 3.0.0
info:
  title: Folksoul- Musician Band
  description: Folksoul API
  version: 0.1.9

servers:
  - url: https://folksoul-api.nika-nozadze.redberryinternship.ge/api
    description: production server
  - url: http://localhost:5555/api
    description: local server  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /login:
    post:
      tags:
        - Auth  
      requestBody:
        description: JWT bearer authorization
        required: true
        content:
          application/json:
            schema: 
              type: 'object'
              properties:
                  name: 
                    type: string
                  password: 
                    type: string
            example:
              name: nikanoza
              password: dardubala
              
      responses:
        '200':
          description: login successfully
  /singers:  
    get:
      tags:
        - Members
      responses:
        '200':
          description: Successfully fetched
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string  
  /singers/{id}:
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: number
            example: 1
          required: true
      tags:
        - Members            
      responses:
        '200':
          description: singer added
          content:
            application/json:
              schema:
                type: "object"
  /singer/new:
    post:
      tags:
        - Members 
      requestBody:
        description: add new musician
        required: true
        content:
          application/json:
            schema: 
              type: 'object'
              properties:
                  name: 
                    type: string
                  instrument: 
                    type: string
                  orbitLength: 
                    type: number
                  color: 
                    type: string
                  biography: 
                    type: string
            example:
              name: სიმპსონოვიჩი
              instrument: გიტარა
              orbitLength: 100
              color: '#4257F5'
              biography: დავიბადე 1940 წელს       
      responses:
        '200':
          description: singer added
  /singers/edit/{id}:       
    put:
      parameters:
        - in: path
          name: id
          schema:
            type: number
            example: 1
          required: true
      tags:
        - Members
      requestBody:
        description: update singer
        required: true
        content:
          application/json:
            schema: 
              type: "object"
              properties:
                  name: 
                    type: string
                  instrument: 
                    type: string
                  orbitLength: 
                    type: number
                  color: 
                    type: string
                  biography: 
                    type: string 
            example:
              name: დურუ
              instrument: კლარნეტი
              orbitLength: 100
              color: '#4257F5'
              biography: დავიბადე 1940 წელს 
      responses:
        '200':
          description: Singer updated  
  /singers/delete/{id}:            
    delete:
      parameters:
        - in: path
          name: id
          schema:
            type: number
            example: 1
          required: true
      tags:
        - Members      
      responses:
        '200':
          description: musician removed         