openapi: 3.0.0
info:
  title: Folksoul- Musician Band
  description: Folksoul API
  version: 0.1.9

servers:
  - url: https://folksoul-api.nika-nozadze.redberryinternship.ge/api
    description: production server
  - url: http://localhost:4444/api
    description: local server  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /login:
    post:
      tags:
        - Auth  
      requestBody:
        description: JWT bearer authorization
        required: true
        content:
          application/json:
            schema: 
              type: 'object'
              properties:
                  name: 
                    type: string
                  password: 
                    type: string
            example:
              name: nika23
              password: dardubala
              
      responses:
        '200':
          description: login successfully
  /singer/new:
    post:
      tags:
        - Members 
      requestBody:
        description: add new musician
        required: true
        content:
          application/json:
            schema: 
              type: 'object'
              properties:
                  name: 
                    type: string
                  instrument: 
                    type: string
                  orbit_length: 
                    type: number
                  color: 
                    type: string
                  biography: 
                    type: string
            example:
              name: სიმპსონოვიჩი
              instrument: გიტარა
              orbit_length: 100
              color: '#4257F5'
              biography: დავიბადე 1940 წელს
              
      responses:
        '200':
          description: login successfully